/* GLOBAL STYLES
-------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

button, i {
  cursor: pointer;
}

.to-left {
  text-align: left;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all .3s ease-in-out;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}

.card-title {
  font-size: 14px;
}

.modal-content {
  width: auto;
}

.modal-dialog-centered {
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-img-container {
  max-width: 225px;
}

.modal-img-container {
  display: flex;
  justify-content: center;
}

.modal-qty-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart-total {
  font-weight: bold;
}

table {
  font-size: small;
}